{% extends 'base.html' %} {% block header %}
<div class="jumbotron text-center">
    <h1>TodoList</h1>
    <p class="lead">This is a simple TodoList.</p>
</div>
{% endblock header %} {% block content %} {% for item in object_list %}
<div class="card" style="margin-bottom:20px;">
    <div class="card-body">
        <p>{{ item.title }}</p>
        <p>期日：{{ item.duedate }}</p>
        <p>
            <a class="btn btn-primary" href="" role="button">詳細</a>
            <a class="btn btn-success" href="" role="button">編集</a>
            <a class="btn btn-danger" href="" role="button">削除</a>
        </p>
    </div>
</div>
{% endfor %} {% endblock content %}